<ul class="comic_nav">
	<li class="comic_nav_item first">
		{% if site.categories.comics.last.url != page.url %}
		<a class="comic_nav_item_first" href="{{ site.baseurl }}{{site.categories.comics.last.url}}">
			First
		</a>
		{% else %}
		<span class="comic_nav_item_first">
			First
		</a>
		{% endif %}
	</li>

	<li class="comic_nav_item prev">
		{% if prev_post %}
		<a class="comic_nav_item_prev" href="{{ site.baseurl }}{{prev_post}}">
			Previous
		</a>
		{% else %}
		<span class="comic_nav_item_prev">
			Previous
		</a>
		{% endif %}
	</li>

	<li class="comic_nav_item next">
		{% if next_post %}
		<a class="comic_nav_item_next" href="{{ site.baseurl }}{{next_post}}">Next</a>
		{% else %}
		<span class="comic_nav_item_next">Next</span>
		{% endif %}
	</li>

	<li class="comic_nav_item last">
		{% if site.categories.comics.first.url != page.url %}
		<a class="comic_nav_item_last" href="{{ site.baseurl }}{{site.categories.comics.first.url}}">
			Last
		</a>
		{% else %}
		<span class="comic_nav_item_last">
			Last
		</a>
		{% endif %}
	</li>
</ul>
