{% for post in site.categories.comics %}
		 {% if post.url == page.url %}
				 {% assign post_index0 = forloop.index0 %}
				 {% assign post_index1 = forloop.index %}
		 {% endif %}
 {% endfor %}
 {% for post in site.categories.comics %}
		 {% if post_index0 == forloop.index %}
				 {% assign next_post = post.url %}
		 {% endif %}
		 {% if post_index1 == forloop.index0 %}
				 {% assign prev_post = post.url %}
		 {% endif %}
 {% endfor %}


<article itemscope itemtype="http://schema.org/BlogPosting">

<div class="comic">
	{% include comic-nav.html %}
	<div class="comic_wrapper">
		<div class="comic_content{% if page.imageMobile %}-wide{% endif %}">
	  	{% if next_post %}
	  		<a href="{{ site.baseurl }}{{next_post}}">
			{% endif %}
				<picture>
					<source {% if page.imageMobile %} media="(min-width: 300px)" {% endif %} srcset="{{ site.baseurl }}{{page.image}} 1x, {{ site.baseurl }}{{page.image2x}} 2x">
					<img  class="comic_image{% if page.copyright %}-copyright{% endif %}{% if page.imageMobile %}-wide{% endif %}" src="{{ site.baseurl }}{% if page.imageMobile %}{{page.imageMobile}}{% else if %}{{page.image}}{% endif %}" alt="{{page.title}}">
				</picture>
			{% if page.next.url %}
				</a>
			{% endif %}
		</div>
	</div>
  {% include comic-nav.html %}
</div>

	<header class="post_header">
		<h1 class="post_title" itemprop="name headline">{{ page.title }}</h1>
		<p class="post_meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
	</header>

	<div class="post_content" itemprop="articleBody">
		{{ content }}
	</div>
</article>
